# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/

# Datasets / weights (à ne pas versionner)
*.pt
*.pth
*.onnx
*.weights
runs/
datasets/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
